body{
	background-color:#F6F6F6
}

#title {
	 text-align: center;
	 font-size: 16px;
}

#content {
	 color: #6B6C6D;
	 text-align: center;
         font-size: 12px;
}

#content1 {
	 color: #6B6C6D;
	 text-align: left;
         font-size: 12px;
}